// General
* {
    padding: 0;  
    margin: 0;
    box-sizing: border-box; 
}
h1 {
 @extend %titulos;
    font-size: 32px;
}
h2 {
    @extend %titulos;
    font-size: 28px;

}
h3 {
    @extend %titulos;
    font-size: 24px;
}
.flex {
    display: flex;
}
// Bootstrap
.row>* {
    padding-left: 0;
    padding-right: 0;
}
.card {
    background-color: map-get($colores, backgroundPpal);
    border-width: 3px;
}
.card-text{
    font-size: 18px;
}
.btn-primary {
    background-color: #333;
    border-color: #333;
    &:active {
        background-color: #222;
        border-color: #222;
    }
    &:hover {
        background-color: #222;
        border-color: #222;
    }
}
body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #222222;
    color: #bbbbbb;
}
// @media
@media screen and (min-width: 320px) {
    .menu_ppal ul li a{
        font-size: 14px;
    }
}
@media screen and (min-width: 480px) {
    .menu_ppal ul li a{
        font-size: 16px;
    }
}
@media screen and (min-width: 640px) {
    .menu_ppal ul li a{
        font-size: 20px;
    }
    .menu_ppal {
        flex-direction: row;
    }
    .grilla {
        grid-template-areas: 
        "cabecera cabecera"
        "principal secundario"
        "footer footer";
        grid-template-columns: 3fr 1fr;
        row-gap: 0px;
        column-gap: 0px;
      }
      .grilla2 {
        grid-template-areas: 
        "cabecera"
        "principal"
        "footer";
        grid-template-columns:1fr;
        row-gap: 0px;
        column-gap: 0px;
      }
      }