body main {
    margin: 5px;
}
article {
        grid-area: principal;
}
.tienda {
    text-align: -webkit-center;
}
.principal {
    flex: 3;
    margin: 5px;
    padding: 10px 15px 15px 15px;
    border-radius: 15px;
    background-color: #444;
    font-size: 21px;
    section {
        text-align: center;
        img {
            width: 90%;
            max-width: 400px;
            border: #bbbbbb solid 5px;
            border-radius: 25px;
        }
    }
}
aside {
    grid-area: secundario;
}

.secundario {
@include secundario($backColor:#444, $tamFuente:16px)
}